<template>
  <div class="about">
    <h1>This is about page</h1>
    <h1>2024-08-21</h1>
    <h1>2024-09:05</h1>
  </div>
</template>

<style>
@media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    align-items: center;
  }
}
.about {
  margin: auto 0;
}
</style>
